[submodule "Testsuite/libs/imgui"]
	path = Testsuite/libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Testsuite/libs/implot"]
	path = Testsuite/libs/implot
	url = https://github.com/epezent/implot.git
[submodule "Testsuite/libs/serial"]
	path = Testsuite/libs/serial
	url = https://github.com/wjwwood/serial.git
